.container {
  height: 100vh;
  overflow: hidden;
  .bgBox {
    position: relative;
    bottom: 91px;
    background: url(../../../public/images/image1.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 110vh;
    display: flex;
    object-fit: cover;
    object-position: 25% 75%;
    .loginBox {
      display: flex;
      align-items: center;
      margin-top: 50px;
      height: 100vh;
      max-width: 540px;
      margin: 0 auto;
      height: 115vh;
    }
  }
}
