@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Montserrat:wght@500&display=swap");

div.title {
  color: #fff;
  font-family: "Iceland", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
